.viajes-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width: 600px) {
    .viajes-container{
        padding:1em;
    }
}



tr,h1{
    text-align: center;
}

.tablas{
    padding: 1em;
}